input[type="checkbox"]
{
    width:auto;
    overflow:visible;
    border:0px;
}

input[type="checkbox"]:not(:checked)::after
{
    content:normal;
}

input[type="checkbox"]:checked::after
{
    content:normal;
}

label
{
    padding-left:4px; 
    cursor:pointer; 
}