body
{
    font-family:Verdana, Sans-Serif;
    font-size:10pt;
    background-color:#3F647F; /*Default blue*/
    background-image:url("../img/AmbientGradient.png");
    background-position:top;
    background-attachment:fixed;
    background-repeat:no-repeat;
    padding:0px;
    margin:0px;
    overflow-x:hidden;
    overflow-y:auto;
}

h4, h5, h6, .smallmargin
{
    margin:6px 0 6px 0;
}

.nobottommargin
{
    margin:6px 0 -6px 0;
}

input, select, textarea
{
    background-color:#fff;
    color:Black;
    border:1px solid white;
    border-radius:4px;
    padding:2px 4px 2px 4px;
}

textarea {margin-top: 8px;}

input[type='button'], input[type='submit'], button
{
    background-color:rgba(255,255,255,0.6);
    margin:3px 5px 4px 4px;
    padding:2px 8px 2px 8px;
    box-shadow:0px 0px 3px #333;
    cursor:pointer;
    min-width:48px;
}

#chatEntryBox
{
    width:100%;
    height:100%;
    border:0px;
    border-radius:0px;
    margin:0px;
    padding:0px;
    background-color: rgba(255, 255, 255, 0.2);
}

.tabcontents input, .tabcontents button
{
    margin:16px 8px 0px 0px;
}

a, a:visited
{
    color:#7AC5FF;
}

input[type='button']:hover, input[type='submit']:hover
{
    background-color:rgba(255,255,255,0.8);
    box-shadow:0px 0px 3px #222;
}

input[type='button']:active, input[type='submit']:active
{
    background-color:rgba(255,255,255,0.4);
    box-shadow:0px 0px 3px #222;
}

img
{
    border:0px;
}

.bold
{
    font-weight:bold;
}

.statusHolder
{
    margin:8px 0 16px 0;
    height:56px;
    vertical-align:middle;
}

#modaliconholder
{
    display:block;
    float:left;  
    height:100%;
    padding:0px;
    margin:0px;
}

#message_icon
{
    margin:6px 0 0 10px;
    width:128px;
    height:128px;
    background-image:url(../img/MessageIcons.png);
    background-repeat:no-repeat;
}

.message_icon_tiny
{
    width:16px;
    height:16px;
    background-image:url(../img/MessageIcons.png);
    background-repeat:no-repeat;
    float:left;
    background-color:white;
    padding:2px;
    border-radius:4px;
    margin-right:4px;
}

.message_warn_tiny
{
    background-position:2px -127px;
}

.message_warn
{
    background-position:0px 0px;
}

.message_question
{
    background-position:-128px 0px;
}

.message_question_tiny
{
    background-position:-20px -128px;
}

.message_info
{
    background-position:-256px 0px;
}

.message_info_tiny
{
    background-position:-38px -128px;
}

#status_icon
{
    display:inline-block;
    float:left;
    margin:2px;
    width:24px;
    height:24px;
    background-image:url(../img/StatusSprite.png);
    background-repeat:no-repeat;
}

#statusTable
{
    float:right;
    width:300px;
    height: 64px;
    overflow: hidden;
    text-align:left;
}

#statusTable td
{
    
}

.status_stop
{
    background-position:0px 0px;
}

.status_wait
{
    background-position:-24px 0px;
}

.status_go
{
    background-position:-48px 0px;
}

.status_err
{
    background-position:-72px 0px;
}

.status_restart
{
    background-position:-96px 0px;
}

.statusText
{
    height:24px;
    display:table-cell;
    line-height:24px;
    vertical-align:middle;
    padding-left:8px;
}

.translatable, .translatablevalue {}

.softshadow, #sidetabs, .tabarea, .welcomemessage, .modalpanel, #tasksarea, #debugHolder
{
    box-shadow:0px 2px 8px rgba(0,0,0,0.4);
}

.dockbar
{
    background-color:rgba(0,0,0,1);
    width:100%;
    color:White;
    height:28px;
    line-height:28px;
}

.dualshadowwindow
{
    background-color:rgba(255,255,255,0.2);
    border:1px solid rgba(255,255,255,0.3);
    /*box-shadow: inset 0px 0px 16px 2px rgba(255,255,255,0.2), 0px 0px 12px #333;*/
    border-radius:4px;
}

.semibg
{
    background-color:rgba(255,255,255,0.2);
    border:1px solid rgba(255,255,255,0.3);
    border-radius:4px;
}

.db_top
{
    position:fixed;
    top:0px;
    left:0px;
}

.db_bottom
{
    position:fixed;
    bottom:0px;
    left:0px;
}

.db_left
{
    float:left;
    padding-left:8px;
}

.db_right
{
    float:right;
    text-align:right;
    padding-right:10px;
}

.centerbody
{
    width:100%;
    text-align:center;
    color:White;
}

#welcomescreen
{
    padding-top:7.5%;
    width:100%;
    margin:0 auto 0 auto;
}

.sidetab
{
    display:block;
    width:256px;
    height:47px;
    margin:0px;
    line-height:46px;
    padding:0px;
    cursor:pointer;
    background-color: rgba(255,255,255,0.2);
    border-bottom: 1px solid rgba(255,255,255,0.2);
    border-right: 1px solid rgba(255,255,255,0.4);
    color:White;
    text-decoration:none;
}

.sidetab:hover
{
    height:48px;
    background-image:url("../img/SideTab.png");
    border-bottom:0px;
}

.task:hover
{
    background-color: rgba(255,255,255,0.4);
}

.sidetab:active
{
    background-color: rgba(255,255,255,0.4);
}

.sidetab:first-of-type
{
    border-top-right-radius:4px;
    border-top: 1px solid rgba(255,255,255,0.4);
}

.sidetab:last-of-type
{
    border-bottom-right-radius:4px;
}

.sidetab img
{
    width:24px;
    height:24px;
    padding:11px 16px 0 14px;
    float:left;
    display:inline;
}

#sidetabs
{
    position:fixed;
    left:0px;
    top:48px;   
    text-align:left;
}

.tabarea
{
    overflow:hidden;
    margin:48px 20px 48px 276px;
    border: 1px solid rgba(255,255,255,0.3);
    background-color: rgba(255,255,255,0.2);
    border-radius:4px;
    padding:0 16px 0 16px;
    text-align:left;
    min-width:614px;
}

#tasksarea
{
    width:256px;
    border: 1px solid rgba(255,255,255,0.4);
    border-left:0px;
    position:fixed;
    left:0px;
    top:404px;
    text-align:left;
    border-bottom-right-radius:4px;
    border-top-right-radius:4px;
    max-height: 192px;
    overflow-x: hidden;
    overflow-y: auto;
}

.task
{
    background-color: rgba(255,255,255,0.2);
    padding:4px;
    border-bottom: 1px solid rgba(255,255,255,0.2);
    background-repeat:repeat-x;
    margin: 0px;
    overflow-x: hidden;
}

.task_warn {
    cursor: pointer;
    padding-left: 6px;
    font-size:8pt;
}

.task:first-of-type
{
    border-top:0px;
}

.task:last-of-type
{
    border-bottom:0px;
}

.task .progressbar
{
    height:18px;
    width:214px;
    margin-left:4px;
}

#runtasktitle, #noticestitle
{
    padding: 6px;
    margin: 0px;
}

#runtasktitle {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.task .title {
    font-weight: bold;
}

.loadspin
{
    background-color:White;
    padding:6px;
    border-radius:4px;
}

.loadspin_tiny
{
    display:inline-block;
    background-color:white;
    padding:2px;
    border-radius:4px;
    float:left;
}

.inline
{
    display:inline;
}

.noticeline
{
    line-height:6px;
    display:inline-block;
    margin:0 0 4px 6px;
    padding-top:4px;
    font-size:8pt;
    font-weight:bold;
    height:12px;
}

.b600
{
    width:600px;   
}

.tabarea h3
{
    float:left;
}

.tabimg
{
    float:right;
    padding-top:12px;
}

.tabcontents
{
    clear:left;
    margin-top:50px;
    padding-bottom:16px;
}

.gHolder
{
    /*width:614px;*/
    height:102px;
}

.graphContainer
{
    width:512px;
    height:102px;
    display:table-cell;
    vertical-align:bottom;
    text-align:left;
    border:1px solid rgba(255,255,255,0.4);
    border-right:0px;
    overflow:hidden;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    cursor:pointer;
    margin-bottom:16px;
    text-align:right;
    overflow:hidden;
}

.graphInfo
{
    display:table-cell;
    height:102px;
    vertical-align:middle;
    padding:0 8px 0 8px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color:rgba(255,255,255,0.4);
    /*border:1px solid rgba(255,255,255,0.4);*/
    border-left:0px;
}

.graphSingle
{
    display:inline-block;
    height:7px;
    background-color:rgba(255,255,255,0.6);
}

.graphBar
{
    position:relative;
    width:7px;
    display:inline-block;
    background-color:rgba(255,255,255,0.2);
    border-top:1px solid white;
    margin-right:1px;
}

.graphBar:hover
{
    background-color:rgba(255,255,255,0.6);
}

#bgtext
{
    font-weight:bold;
    float:right;
    z-index:-10;
    position:fixed;
    bottom:5%;
    left:5%;
    text-align:right;
    font-size:500%;
    color:rgba(255,255,255,0.1);
}

#statusArea {width:614px;}

#tabs {
    height: 100%;
}

#chatArea
{
    width:100%;
    height: 100%;
}

#chatHistory
{
    border:1px solid white;
    border-top-left-radius: 4px;
    padding:0px;
    height:340px;
    bottom: 64px;
    overflow:auto;
}

#chatNames
{
    background-color:rgba(255,255,255,0.2);
    border-top-right-radius: 4px;
    border:1px solid white;
    border-left:0px;
    float:right;
    width:192px;
    height:340px;
    bottom: 64px;
    overflow-y:auto;
}

.chatName
{
    width:184px;
    overflow:hidden;
    height:20px;
    padding:4px;
    border-bottom:1px solid white;
    cursor:pointer;
}

.chatName:hover
{
    background-color:rgba(255,255,255,0.2);
}

.chatName:active
{
    background-color:transparent;
}

.chatEntry
{
    display:block;
    width:100%;
    border-bottom:1px solid white;
}

.chatEntry:nth-child(odd)
{
    background-color:rgba(255,255,255,0.1);
}

.chatBody
{
    padding:4px;
    font-family:Lucida Console, Monospace;
}

.chatTimestamp, .chatNick
{
    display:inline;
}

.chatMessage
{
    display:inline-block;
}

#chatBox
{
    background-color:transparent;
    border:1px solid white;
    border-top:0px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    padding:2px;
}

.subtabhead
{
    border-collapse:collapse;
    height:28px;
}

.subtabhead .subtab:first-child
{
    border-top-left-radius: 4px;
}

.subtabhead .subtab:last-child
{
    border-top-right-radius: 4px;
    border-right:0px;
}

.subtab, a.subtab
{
    display:block;
    background-color:rgba(255,255,255,0.1);
    height:20px;
    line-height:20px;
    padding:4px 8px 4px 8px;
    float:left;
    margin:0px;
    cursor:pointer;
    border-right:1px solid rgba(255,255,255,0.2);
    color:White;
    text-decoration:none;
}

.subtab:hover
{
    background-color:rgba(255,255,255,0.4);
}

.subtab:active
{
    background-color:rgba(255,255,255,0.1);
}

.picked, a.picked
{
    background-color:rgba(255,255,255,0.3);
}

/*#sidetabs .picked
{
    background-color:rgba(255,255,255,0.3);
}*/

.subtabcontainer
{
    padding:8px;
    background-color:rgba(255,255,255,0.3);
    border-radius:4px;
    border-top-left-radius: 0px;
    /*max-height: 512px;
    overflow-y: auto;*/
    overflow-x: hidden;
}

.subarea
{
    padding:2px 8px 8px 8px;
    background-color:rgba(255,255,255,0.3);
    border-radius:4px;
    margin-top:8px;
}


.subtabcontainer h4, .notopmargin
{
    margin:0 0 8px 0;
}

.subarea h4, .subarea input {
    margin-top: 4px;
}

.nomargin
{
    margin:0;
}

.settingrow
{
    display:table-row;
    overflow:visible;
}

.setting
{
    border-top:1px solid rgba(255,255,255,0.3);
    display:table-cell;
    height:32px;
    width:256px;
    vertical-align:middle;
    padding-bottom:4px;
    padding-right:8px;
}

.noborder
{
    border:0px;
}

.setting .title
{
    font-weight:bold;
    margin:6px 0 0 0;
}

.setting .description
{
    font-size:8pt;
    margin:6px 0 6px 0;
}

#colorpreview {
    width: 96px;
    border:1px solid black;
}

.setting select, .setting input, .groupsetting input, .groupsetting select
{
    min-width:150px;
}

.setting input[type="text"]
{
    min-width:256px;
    margin:0 0 0 2px;
}

.f384 {
    height: 384px;   
}

.s384
{
    max-height:384px;
    overflow:auto;
    padding:6px;
    border:1px solid rgba(255,255,255,0.4);
    border-radius:4px;
    padding-bottom:2px;
    background-color:rgba(255,255,255,0.1);
}

.p384 {
    padding: 0px;
}

.x384 
{
    max-height: 384px;
    overflow-x: hidden;
    overflow-y: auto;
}

.nh384 {
    border-radius: 0px;
}

.h384 {
    border:1px solid rgba(255,255,255,0.4);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom: 0px;
    height: 20px;
    padding-top: 2px;
}

.b384 {
    border:1px solid rgba(255,255,255,0.4);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top: 0px;
    height: 28px;
    padding-top: 2px;
}

.b384 input[type="text"] {
    width: 124px;
    margin: 2px 4px 0 4px;
}

.wide input[type="text"] {
    width: 224px;
}

.n384 {
    overflow: hidden;
}

.colorsample
{
    display: table-cell;
    float: left;
    width:120px;
    height:80px;
    cursor:pointer;
    margin: 2px;
    color: black;
    background-image: url(../img/UISample.png);
}

#customcolor 
{
    text-align: center;  
}

.colorsample:hover
{
    border:1px solid white;
    width:118px;
    height:78px;
    background-position: -1px -1px;
}

.colorsample:active
{
    border:1px solid black;
}

.modalbg
{
    display:table-cell;
    vertical-align:middle;
    position:fixed;
    z-index:100;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    float:left;
}

.modalnormal
{
    background-color:rgba(0,0,0,0.6);
}

.modalfatal
{
    background-color:#666;
    background-image:url(../img/Logo256.png);
    background-position:0 32px;
    background-repeat:no-repeat;
}

.progressbar
{
    display:inline-block;
    height:16px;
    border:1px solid rgba(255,255,255,0.6);
    border-radius:4px;
    overflow:hidden;
    padding:0px;
}

.progressbarslider
{
    height:100%;
    background-color:rgba(255,255,255,0.6);
    margin:0px;
    width:0%;
}

.modalpanel
{
    display:block;
    margin-left:auto;
    margin-right:auto;
    margin-top:64px;
    width:640px;
    border:4px solid rgba(255,255,255,0.6);
    border-radius:8px;
    padding:0px;
    color:White;
    background-color:rgba(0,0,0,0.7);
}

.modalbuttons
{
    width:100%;
    margin:0px;
    background-color:rgba(255,255,255,0.6);
    padding:10px 0 6px 0;
    border-bottom-left-radius:3px;
    border-bottom-right-radius:3px;
    text-align:right;
}

#scheduleHolder, #backupTable
{
    width:100%;
    border-radius:4px;
    padding:2px;
    margin:0px;
    background-color:rgba(255,255,255,0.2);
    border-collapse:collapse;
    overflow:hidden;
}

#scheduleItems tr:nth-child(odd), #backuplistbody tr:nth-child(odd)
{
    background-color:rgba(255,255,255,0.2);
}

.PluginAuthor
{
    font-size:10pt;
    font-weight:normal;
}

.PluginEntry
{
    padding:2px 2px 0px 2px;
    border-bottom:1px solid white;
    cursor:pointer;
    height:24px;
    overflow:hidden;
}

.PluginEntry:last-of-type {
    border-bottom: 0px;
    margin-bottom: 4px; 
}

.PluginEntry h4 {
    margin-top: 2px;
}

.PluginEntry:hover
{
    background-color:rgba(255,255,255,0.2);
    height: auto;
}

.vlistheader, .vlistholder  
{
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 164px;
    float: left;
    display: inline-block;
    overflow: hidden;
    border-right: 1px solid rgba(255, 255, 255, 0.2);
}

.vlistheader:last-of-type
{
    border-right:0px;   
}

.vlistheadertext {
    width: 100%;
    padding: 8px;
    font-weight: bold;
}

.vlistholder 
{
    overflow-x: hidden;
    overflow-y: auto;
}

#groupInfoArea, #groupInfoLoading 
{
    height: 100%;
    right: 2px;
    margin-left: 330px;
}

#groupInfoLoading { text-align: center;}
#groupInfoLoading img { margin-top: 96px; }

.vlistitem
{
    margin: 0px;
    padding: 8px;
    width: 100%;
    height: 16px;
    display: block;
    float: left;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    cursor: pointer;
    overflow: hidden;
}

.vlistitem:hover {
    background-color: rgba(255, 255, 255, 0.2);
    background-image:url("../img/SideTab.png");
    background-position:-32px -8px;
}

.shortitem 
{
    cursor: auto;
    padding: 2px 8px 2px 8px;
}

.shortitem:hover {
    background: transparent;
}

.vlistitem:active {
    background-color: transparent;
}

.selected {
    background-color: rgba(255, 255, 255, 0.2);
}

.tinyButton {
    width: 12px;
    height: 12px;
    border: 1px solid white;
    background-color: rgba(255, 255, 255, 0.2);
    background-image: url(../img/TinyCross.png);
    border-radius: 2px;
    float: right;
    margin-right: 12px;
    margin-top: 1px;
    cursor: pointer;
}

.tinyButton:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

.tinyButton:active {
    background-color: rgba(255, 255, 255, 0.2);
}

#userTasksArea
{
    border-right:1px solid rgba(255,255,255,0.4);
    float:left;
    width: 248px;
}

#userSettingArea li, #userTasksArea li
{
    border-bottom:1px solid rgba(255,255,255,0.4);
    margin:0px;
    padding:4px;
}

#userSettingArea li:hover, #userTasksArea li:hover
{
    background-color:rgba(255,255,255,0.2);   
}

#debugHolder 
{
    display:none;
    border-top-right-radius:4px;
    border-top-left-radius:4px;
    height: 236px;
    width: 512px;
    position: fixed;
    bottom: -210px;
    left: 64px;
    border: 1px solid white;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    overflow-x: hidden;
    overflow-y: auto;
    cursor: pointer;
    font-family: monospace;
    padding: 4px;
}

.debugEntry {
    display: block;
    width: 100%;
    margin: 0px;
}

#debugMsgs {
    width: 50%;
    float: left;
    border-right: 1px solid rgba(255, 255, 255, 0.2);
}

.debugEntry:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.2);
}

#debugHolder:hover {
    bottom: -1px;
}

div ::-webkit-scrollbar {
    width: 5px;
    background-color: rgba(255, 255, 255, 0.1);
}

div ::-webkit-scrollbar-thumb {
    width: 5px;
    background-color: rgba(255, 255, 255, 0.4);
}

div ::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 0.6);
}

@media screen and (max-width: 936px) and (min-width: 861px)
{
    .sidetab
    {
        width:192px;
    }   
    
    #tasksarea
    {
        width:192px;
    }
    
    .task .progressbar
    {
        width:150px;
    }
    
    .tabarea
    {
        margin-left:208px;
    }
}

@media screen and (max-width: 860px)
{
    #sidetabs
    {
        top:36px;
    }
    
    .sidetab img
    {
        display:none;
    }   
    
    .sidetab
    {
        padding-left:8px;
        background-position:-48px 0;
        width:126px;
    }
    
    #tasksarea
    {
        width:134px;
        top:384px;
    }
    
    .task .progressbar
    {
        width:106px;   
    }
    
    .task .loadspin_tiny
    {
        display:none;
    }
        
    .tabarea
    {
        margin-left:144px;
        padding:0 8px 0 8px;
        margin-top:36px;
    }
    
    #bgtext
    {
        display:none;
        margin:0;
        padding:0;
    }
    
    body
    {
        background-image:none;
    }
    
    .dockbar, #sidetabs, .tabarea, .welcomemessage, #tasksarea, #debugHolder
    {
        box-shadow:none;
    }
    
    .tabarea h3, .tabimg
    {
        margin:8px 0 8px 0;
        padding:0px;
    }
    
    .tabcontents
    {
        margin-top:30px;
        padding-bottom:8px;
    }
}
