<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>ITN Catalog Services API - All Items</title>
  <link rel="stylesheet" href="/css/styles_new.css">
</head>
<body>
<div id="docs">

<!-- Version $URL: $ -->

<h1>ITN Catalog Services API - All Items</h1>

<table border="1">
  <tr>
    <td>Base URL</td>
    <td>/cs_api/1.0/items/</td>
  </tr>
  <tr>
    <td>Documentation</td>
    <td><a href="/cs_api/1.0/items">/cs_api/1.0/items</a> (this page)</td>
  </tr>
  <tr>
    <td>Description</td>
    <td>Returns a collection of matching items, optionally including related items in the same hierarchy</td>
  </tr>
  <tr>
    <td>Sample Client</td>
    <td><a href="/api_sample_client.html" target="new">Open New</a></td>
  </tr>
</table>

<h2>URL Templates (Path Parameters)</h2>
<p>Some parameters can be submitted as part of the resource path: </p>
<table border="1">
  <tr>
    <th>HTTP Method</th>
    <th>URL Template</th>
  </tr>
  <tr>
    <td>GET</td>
    <td>GET /cs_api/1.0/items/:recipient</td>
  </tr>
  <tr>
    <td>GET</td>
    <td>GET /cs_api/1.0/items/:recipient/:gtin</td>
  </tr>
  <tr>
    <td>GET</td>
    <td>GET /cs_api/1.0/items/:recipient/:gtin/:provider</td>
  </tr>
  <tr>
    <td>GET</td>
    <td>GET /cs_api/1.0/items/:recipient/:gtin/:provider/:tm</td>
  </tr>
  <tr>
    <td>GET</td>
    <td>GET /cs_api/1.0/items/:recipient/:gtin/:provider/:tm/:tm_sub</td>
  </tr>
</table>

<h2>Parameters</h2>
<table border="1">
  <tr>
    <th>Name</th>
    <th>Required</th>
    <th>Expected Values</th>
    <th>Description</th>
  </tr>
  <tr>
    <td>recipient</td>
    <td>no</td>
    <td>GLN or partial GLN of subscribing 'dataRecipient'. Numeric string (not a number)</td>
    <td>Matching items will have a 'fetch_type' of 'match'</td>
  </tr>
  <tr>
    <td>gtin</td>
    <td>no</td>
    <td>GTIN or partial GTIN of item. Numeric string (not a number)</td>
    <td>Matching items will have a 'fetch_type' of 'match'</td>
  </tr>
  <tr>
    <td>provider</td>
    <td>no</td>
    <td>GLN or partial GLN of publishing provider party. Numeric string (not a number)</td>
    <td>The party GLN (or other identifier) of the publisher/owner/provider. Partial values accepted.</td>
  </tr>
  <tr>
    <td>tm</td>
    <td>no</td>
    <td>numeric ISO country code</td>
    <td>The intended target market associated with the items (e.g. '840' for US)</td>
  </tr>
  <tr>
    <td>tm_sub</td>
    <td>no</td>
    <td>ISO country subdivision code</td>
    <td>The intended target market subdivision associated with the items (e.g. 'US-CA' for California)</td>
  </tr>
  <tr>
    <td>multi</td>
    <td>no</td>
    <td>[true|false]</td>
    <td>Indicates that search results containing multiple items matching items are ok. Defaults to false, in which case an error is returned if multiple items are matched</td>
  </tr>
  <tr>
    <td>children</td>
    <td>no</td>
    <td>[true|false]</td>
    <td>Causes the search results to include any children of the matched items (including children of children, etc). All child items will have a 'fetch_type' of 'child'</td>
  </tr>
  <tr>
    <td>parents</td>
    <td>no</td>
    <td>[true|false]</td>
    <td>Causes the search results to include any parents of the matched items (including parents of parents, etc). All parent items will have a 'fetch_type' of 'parent'</td>
  </tr>
  <tr>
    <td>transform</td>
    <td>no</td>
    <td>[client|server|none]</td>
    <td>If set to 'server', applies custom tranform to each item as configured in current user profile</td>
  </tr>
  <tr>
    <td>download</td>
    <td>no</td>
    <td>[true|false]</td>
    <td>Prompts user to save data to file in capable clients (e.g. most web browsers)</td>
  </tr>
</table>

<h2>Examples</h2>
<div>Item list head for recipient GLN 0625199000015: <a target="new" href="/cs_api/1.0/items/0625199000015?per_page=100">First 100 Items</a></div>

</div>
</body>
</html>
