<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>ITN Catalog Services API - Login</title>
  <link rel="stylesheet" href="/css/styles_new.css">
</head>
<body>
<div id="docs">

<!-- Version $URL: $ -->

<h1>ITN Catalog Services API - Login</h1>

<table border="1">
  <tr>
    <td>Base URL</td>
    <td>/cs_api/1.0/login</td>
  </tr>
  <tr>
    <td>Documentation</td>
    <td><a href="/cs_api/1.0/login-docs">/cs_api/1.0/login-docs</a> (this page)</td>
  </tr>
  <tr>
    <td>Description</td>
    <td>Returns a token to be used with the Authorization request header on subsequent operations</td>
  </tr>
  <tr>
    <td>Sample Client</td>
    <td><a href="/api_sample_client.html" target="new">Open New</a></td>
  </tr>
</table>

<h2>Parameters</h2>
<table border="1">
  <tr>
    <th>Name</th>
    <th>Required</th>
    <th>Expected Values</th>
    <th>Default</th>
    <th>Description</th>
  </tr>
  <tr>
    <td>user</td>
    <td>yes</td>
    <td>alphanumeric string</td>
    <td>none</td>
    <td>The username that identifies the client user or application</td>
  </tr>
  <tr>
    <td>pass</td>
    <td>yes</td>
    <td>alphanumeric string</td>
    <td>none</td>
    <td>The password that authenticates the client user or application</td>
  </tr>
</table>

<h2>Examples</h2>
  <div>BP CPS Login: 
  <a href="http://plt-gdsn02.itradenetwork.com:8080/cs_api/1.0/login?user=bp_cps&pass=bp_cpsAdmin" target="new">http://plt-gdsn02.itradenetwork.com:8080/cs_api/1.0/login?user=bp_cps&pass=bp_cpsAdmin</a>
</div>
<div>
  BP CPS (SSL) Login: 
  <a href="https://plt-gdsn02.itradenetwork.com:8443/cs_api/1.0/login?user=bp_cps&pass=bp_cpsAdmin" target="new">https://plt-gdsn02.itradenetwork.com:8443/cs_api/1.0/login?user=bp_cps&pass=bp_cpsAdmin</a>
</div>
<div>Login response: 
  <pre>
    {
      "token": "YnBfY3BzOmJwX2Nwc0FkbWlu",
      "timestamp": 1400801960225
    }
  </pre>
</div>
<div>Client header using reponse token value on subsequent request:
  <pre>
    Authorization:Basic YnBfY3BzOmJwX2Nwc0FkbWlu
  </pre>
</div>

</div>
</body>
</html>
