<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>ITN Catalog Services API - Subscribed Items</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

<!-- Version $URL: http://svn.instill.com/repos/instill_dev/Catalog_Services/node-api-server/trunk/views/subscribed_api_docs_10.ejs $ -->

<h1>ITN Catalog Services API - Subscribed Items</h1>

<table border="1">
  <tr>
    <td>Base URL</td>
    <td>/cs_api/1.0/subscribed/</td>
  </tr>
  <tr>
    <td>Documentation</td>
    <td><a href="/cs_api/1.0/subscribed">/cs_api/1.0/subscribed</a> (this page)</td>
  </tr>
  <tr>
    <td>Description</td>
    <td>Returns a collection of subscribed items, optionally including related items in the same hierarchy</td>
  </tr>
  <tr>
    <td>Sample Client</td>
    <td><a href="/api_sample_client.html" target="new">Open New</a></td>
  </tr>
</table>

<h2>URL Templates (Path Parameters)</h2>
<p>Some parameters can be submitted as part of the resource path: </p>
<table border="1">
  <tr>
    <th>HTTP Method</th>
    <th>URL Template</th>
  </tr>
  <tr>
    <td>GET</td>
    <td>GET /cs_api/1.0/subscribed/:gtin</td>
  </tr>
  <tr>
    <td>GET</td>
    <td>GET /cs_api/1.0/subscribed/:gtin/:provider</td>
  </tr>
  <tr>
    <td>GET</td>
    <td>GET /cs_api/1.0/subscribed/:gtin/:provider/:tm</td>
  </tr>
  <tr>
    <td>GET</td>
    <td>GET /cs_api/1.0/subscribed/:gtin/:provider/:tm/:tm_sub</td>
  </tr>
</table>

<h2>Parameters</h2>
<table border="1">
  <tr>
    <th>Name</th>
    <th>Required</th>
    <th>Expected Values</th>
    <th>Description</th>
  </tr>
  <tr>
    <td>gtin</td>
    <td>yes</td>
    <td>14 character numeric string (not a number)</td>
    <td>This is the exact GTIN of the item(s) to be fetched. Matching items will have a 'fetch_type' of 'match'</td>
  </tr>
  <tr>
    <td>provider</td>
    <td>no</td>
    <td>13 (usually) character numeric string (not a number)</td>
    <td>The party GLN (or other identifier) of the publisher/owner/provider</td>
  </tr>
  <tr>
    <td>tm</td>
    <td>no</td>
    <td>3 character numeric ISO country code</td>
    <td>The intended target market associated with the items (e.g. '840' for US)</td>
  </tr>
  <tr>
    <td>tm_sub</td>
    <td>no</td>
    <td>5 character ISO country code</td>
    <td>The intended target market subdivision associated with the items (e.g. 'US-CA' for California)</td>
  </tr>
  <tr>
    <td>multi</td>
    <td>no</td>
    <td>[true|false]</td>
    <td>Indicates that search results containing multiple items matching items are ok. Defaults to false, in which case an error is returned if multiple items are matched</td>
  </tr>
  <tr>
    <td>children</td>
    <td>no</td>
    <td>[true|false]</td>
    <td>Causes the search results to include any children of the matched items (including children of children, etc). All child items will have a 'fetch_type' of 'child'</td>
  </tr>
  <tr>
    <td>parents</td>
    <td>no</td>
    <td>[true|false]</td>
    <td>Causes the search results to include any parents of the matched items (including parents of parents, etc). All parent items will have a 'fetch_type' of 'parent'</td>
  </tr>
  <tr>
    <td>transform</td>
    <td>no</td>
    <td>[client|server|none]</td>
    <td>If set to 'server', applies custom tranform to each item as configured in current user profile</td>
  </tr>
  <tr>
    <td>download</td>
    <td>no</td>
    <td>[true|false]</td>
    <td>Prompts user to save data to file in capable clients (e.g. most web browsers)</td>
  </tr>
</table>

<h2>Examples</h2>
<div>Multiple GTIN error: <a target="new" href="/cs_api/1.0/subscribed/00038000105234">Multiple GTIN Error</a></div>
<div>Multiple GTIN match: <a target="new" href="/cs_api/1.0/subscribed/00038000105234?multi=true">Multiple GTIN Results</a></div>
<div>Multiple GTIN match with parents: <a target="new" href="/cs_api/1.0/subscribed/00038000105234?multi=true&parents=true">Multiple GTIN Results with Parents</a></div>
<div>Multiple GTIN match with children: <a target="new" href="/cs_api/1.0/subscribed/00038000105234?multi=true&children=true">Multiple GTIN Results with Children</a></div>
<div>Multiple GTIN match with parents and children: <a target="new" href="/cs_api/1.0/subscribed/00038000105234?multi=true&parents=true&children=true">Multiple GTIN Results with Parents and Children</a></div>
<div>The GTIN and provider can also be sent as named parameters: <a target="new" href="/cs_api/1.0/subscribed/?gtin=00038000105234&provider=0038000000010&tm=840&tm_sub=US-CA&parents=true&children=true&download=true">Using all named perameters</a></div>

</body>
</html>
