<!DOCTYPE HTML>
<html>
<head>
  <title>AngularJS JSONP Demo</title>
  <style type="text/css">
    div { 
      margin: 9px 9px 9px 9px;
      padding: 4px 4px 4px 4px;
      border: #333 solid 1px; 
    }
    .clickable { 
      cursor: pointer; 
      border: #ccc dotted 1px; 
    }
    .selected {
      border: #ccf dashed 1px; 
    }
  </style>
  <script src="./js/jquery-1.9.1.js"></script>
  <script src="./js/angular-1.2.2.js"></script>
  <script>
    (function() {
      angular.module('thx_app', [])
        .controller('thx_controller', function($scope, $http) {

          var url = 'http://plt-gdsn01.itradenetwork.com:8080/gdsn-server/api/getSubscriptionList?callback=JSON_CALLBACK&subscriber=1100001011292'
          $http.jsonp(url, { })
            .success(function (data) {
              $scope.data = data
              $scope.timestamp = data.timestamp
            })
            .error(function () {
              console.log(arguments)
            })

          $scope.timestamp = 'n/a'
          $scope.selectedItem = 'n/a'

          $scope.showDetail = function (item) {
            $(item).addClass('selected')
            $scope.selectedItem = JSON.stringify(item)
          }

        })
    })()
  </script>
</head>
<body>
<div ng-app="thx_app">

  <h2>Subscription List</h2>

  <div ng-controller="thx_controller">
    <div>Subscriber: {{data.subscriber}}</div>
    <div>Selected subscription details:</div>
    <textarea rows="6" cols="60" disabled ng-bind="selectedItem"></textarea>
    <div class="clickable" ng-repeat="sub in data.subscriptions" ng-click="showDetail(sub)">
      <span>{{$index + 1}}. Publisher: {{sub.dsName}} ({{sub.ds}})</span>
    </div>
    <div>Data timestamp: <span ng-bind="timestamp"/></div>
    <div>Data timestamp: <span>{{timestamp}}</span></div>
    <div>Data timestamp: <input type="text" size="50" ng-model="timestamp" disabled></input></div>
    <div>URL: <a ng-href="{{data.url}}">{{data.url}}</a></div>
  </div>

</div>

</body>
</html>
