<style type="text/css">
    .clickable { 
      cursor: pointer; 
      border: #ccc dotted 1px; 
    }
    .selected {
      border: #ccf dashed 1px; 
    }
</style>

<script src="js/jquery-1.10.2.js"></script>
<script src="js/angular-1.2.2.js"></script>
<script>
  (function() {
    console.log('loading thx_app ' + Date.now())

    var thx_app = angular.module('thx_app', [])

    thx_app.factory('thx_util', function () {
      console.log('thx_util')
      return {
        sub_url: 'api/subscriptionList'
      }
    })

    thx_app.controller('thx_controller', function($scope, $http, thx_util) {
      console.log('thx_controller')
      $scope.timestamp = 'n/a'
      $scope.enc_controller_test = 'enc_controller_test_value'

      $scope.showDetail = function (item) {
        console.log('item')
        console.log(item)
        $(item).addClass('selected')
        $scope.selectedItem = JSON.stringify(item)
      }

      $scope.getSubscriptions = function (subGln) {

        console.log('getSubs scope: ' + $scope.subscriber)
        console.log('getSubs param: ' + subGln)
        //subGln = subGln || '1100001011292'
        //$scope.subscriber = subGln

        if (/\d{13}/.test($scope.subscriber)) {
          $http.get(thx_util.sub_url, { 
            params: { subscriber: $scope.subscriber }
          })
          .success(function (data) {
            $scope.data = data
            $scope.timestamp = data.timestamp
            $scope.selectedItem = null
          })
          .error(function () {
            console.log(arguments)
          })
        }
        else {
          alert('Error: invalid gln, should be 13 digits')
        }
      }

    })

    thx_app.directive('gdsn', function () {
      console.log('directive gdsn')
      return {
        restrict: 'EA'
        , replace: true
        , templateUrl: 'gdsn_template.html'
        //, scope: { data_url: '=timestamp' }
        , link: function (scope, element, attrs) {
            console.log('link')
            scope.subscriber = element.attr('default-subscriber')
            scope.test_local = 'local_test_value'
            console.log('scope')
            console.log(scope)
          }
        , controller: function ($scope) {
            $scope.dir_controller_test = 'dir_controller_test_value'
          }
      }
    })

  })()
</script>

<div ng-app="thx_app">

  <script type="text/ng-template" id="gdsn_template.html">
    <div style="border-style:solid;border-width:1px;border-color:blue">
      <div>GDSN Widget</div>
      <div ng-if="data" style="border-style:solid;border-width:1px;border-color:green">
        <div ng-if="selectedItem"><textarea rows="6" cols="60" disabled ng-bind="selectedItem"></textarea></div>
        <div>Subscriptions for subscriber {{data.subscriber}} as of <span ng-bind="timestamp"/>:</div>
        <div class="clickable" ng-repeat="sub in data.subscriptions" ng-click="showDetail(sub)">
          <span>{{$index + 1}}. Publisher/Data Source: {{sub.dsName}} (GLN {{sub.ds}})</span>
        </div>
        <div>Data URL: <a ng-href="{{data.url}}">{{data.url}}</a></div>
        <div>Timestamp: <span>{{timestamp}}</span></div>
      </div>
      <div>enc_controller_test: <span>{{enc_controller_test}}</span></div>
      <div>dir_controller_test: <span>{{dir_controller_test}}</span></div>
      <div>test_local: <span>{{test_local}}</span></div>
    </div>
  </script>

  <h2>Subscription List</h2>

  <div ng-controller="thx_controller">
    <input type="text" ng-model="subscriber"></input>
    <input type="button" ng-click="getSubscriptions(subscriber)" value="Get Subscriptions"></input>
    <gdsn default-subscriber="1100001011292"/>
  </div>

</div>
