<!DOCTYPE HTML>
<html ng-app="thx_app">
<head>
  <title>AngularJS Demo</title>
  <style type="text/css">
    div { 
      margin: 9px 9px 9px 9px;
      padding: 4px 4px 4px 4px;
    }
    .clickable { 
      cursor: pointer; 
      border: #ccc dotted 1px; 
    }
  </style>
  <script src="./js/jquery-1.10.2.js"></script>
  <script src="./js/angular-1.2.2.js"></script>
  <script>
    (function() {
      angular.module('thx_app', [])
        .controller('thx_controller', function($scope, $http) {

          $http.get('api/msg_out')
            .success(function (data) {
              $scope.messages = data
            })
            .error(function () {
              console.log(arguments)
            })

          $scope.selectedTimestamp = 'n/a'

          $scope.showTime = function (msg) {
            $scope.selectedTimestamp = msg.ts
          }

        })
    })()
  </script>
</head>
<body>
<div>

  <h2>Message List</h2>

  <div id="messageListDiv" ng-controller="thx_controller">
    <div>Selected message timestamp: {{selectedTimestamp}}</div>
    <div>Selected message timestamp: <input type="text" size="50" ng-model="selectedTimestamp"></input></div>
    <div class="clickable" ng-repeat="msg in messages" ng-click="showTime(msg)">
      <span>Instance ID: {{msg.id}}</span>
      <ul>
      <li>Sender GLN: {{msg.sender}}</li>
      <li>Receiver GLN: {{msg.receiver}}</li>
      <li><a href="api/msg_out/{{msg.id}}">Download</a></li>
      </ul>
    </div>
  </div>

</div>

</body>
</html>
