<!DOCTYPE HTML>
<html ng-app="thx_app">
<head>
  <title>AngularJS Demo</title>
  <style type="text/css">.clickable { cursor: pointer; }</style>
  <script src="./js/jquery-1.9.1.js"></script>
  <script src="./js/angular-1.2.2.js"></script>
  <script>
    (function() {
      var myModule = angular.module('thx_app', [])

      myModule.factory('thx_util', function() {

        var buildIndexImpl = function(source, property) {
          var index = {}
          angular.forEach(source, function (value) {
            index[value[property]] = value
          })
          return index
        }
        return {
          buildIndex: buildIndexImpl
        }
      })

      myModule.factory('thx_model', function() {

        var getStatuses = function() {
          return [
            {name:'To Do', code: 'to_do'},
            {name:'TBD',   code: 'tbd'},
            {name:'Done',  code: 'done'}
          ]
        }

        var getItems = function() {
          return [
            {title:'Item One', description:'This is the first item', status:'To Do'},
            {title:'Item Two', description:'Another item', status:'Done'}
          ]
        }

        return {
          statusList: getStatuses(),
          getItems: getItems
        }
      })

      myModule.controller('thx_controller', function($scope, thx_model, thx_util) {

          $scope.selectedItem
          $scope.statuses = thx_model.statusList
          $scope.items = thx_model.getItems()

          var statusesIndex = thx_util.buildIndex($scope.statuses, 'name')

          $scope.setCurrentItem = function(item) {
              $scope.selectedItem = item
              $scope.currentStatus = statusesIndex[item.status]
          }

          $scope.createItem = function() {
              var newItem = {
                title:      'Item ' + ($scope.items ? $scope.items.length : 0), 
                description:'Description pending.', 
                status:     'To Do'
              }
              $scope.items.push(newItem)
              $scope.setCurrentItem(newItem)
          }

          $scope.setCurrentStatus = function(status) {
              if(typeof $scope.selectedItem !== 'undefined') {
                  $scope.selectedItem.status = status.name
              }
          }
      })
    })()
  </script>
</head>
<body>
<div ng-controller="thx_controller">

  <h2>Item List</h2>
  <li ng-repeat="item in items" ng-click="setCurrentItem(item)">
    <span class="clickable">{{item.title}} (status: {{item.status}})</span>
  </li>
  <li>
    <span class="clickable" ng-click="createItem()" >Create Item</span>
  </li>

  <h2>Selected Item Detail</h2>
  <form >
    <labelfor="inputTitle">Title</label>
    <input type="text" id="inputTitle" placeholder="Title" ng-model="selectedItem.title">
    <br/>
    <label for="inputStatus">Status</label>
    <select id="inputStatus" ng-model="currentStatus" ng-options="l.name for l in statuses" ng-change="setCurrentStatus(currentStatus)"></select>
    <br/>
    <label for="inputDescription">Description</label><br/>
    <textarea id="inputDescription" placeholder="Description" rows="3" ng-model="selectedItem.description"></textarea>
  </form>

</div>

</body>
</html>
