<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Backbone.js Counter</title>
  <style type="text/css">
    #container, form {
      border: #999 solid 1px;
    }
  </style>
  <link rel="stylesheet" href="jqui/jquery-ui-1.10.4.custom.css">
</head>
<body>
  <h2>Backbone.js Counter</h2>

  <div id="container"/>

  <script src="js/json2.js"></script>
  <script src="js/jquery-1.10.2.js"></script>
  <script src="js/underscore-1.5.2.js"></script>
  <script src="js/backbone-1.0.0.js"></script>
  <script src="jqui/jquery-ui-1.10.4.custom.js"></script>
  <script type="text/template" id="view_template">
    <legend>Counter Widget</legend>
      <form>
        <input id="viewCount" size="5" value="<%= count %>" class="ui-widget-content ui-corner-all" tabindex="1"/>
        <input id="editCount" size="5" value="<%= count %>" class="ui-widget-content ui-corner-all"/>
        <button id="increment" class="ui-widget-content ui-corner-all" tabindex="2">Increment</button>
        <button id="reset"     class="ui-widget-content ui-corner-all" tabindex="3">Reset    </button>
      </form>
  </script>

  <script>
  (function ($) {

    console.log('Backbone Counter Widget, this: ' + this)

    var TheModel = Backbone.Model.extend({
      defaults: {
        count: 0
      },
      setCount: function (newCount) {
        console.log('TheModel:setCount:newCount: ' + newCount)
        if (_.isNumber(newCount) && !_.isNaN(newCount)) {
          this.set({count: newCount - 1}, {silent: true})
          this.set({count: newCount})
        }
      },
      incrementCount: function () {
        console.log('TheModel:incrementCount')
        var count = this.get('count') + 1
        this.set( { count: count } )
      },
      resetCount: function () {
        console.log('TheModel:resetCount')
        this.set( { count: 0 } )
      }
    })
    
    var TheView = Backbone.View.extend({    
      mode: 'view', // edit or view

      el: '#container', // use existing div#container

      template: _.template(this.$('#view_template').html()),

      events: {
        'click    #reset'        : 'userReset', 
        'click    #viewCount'    : 'userEditCount', 
        'focus    #viewCount'    : 'userEditCount', 
        'focusout #editCount'    : 'userSetCount',
        'keypress #editCount'    : 'userSetCount',
        'click    #increment'    : 'userIncrement'           
        , 'click' : 'logEvent' // applies to entire el
      },

      initialize: function () {
        console.log('TheView:initialize');
        this.model = new TheModel()
        this.listenTo(this.model, 'change:count', this.render)
        //this.listenTo(this.model, 'all', this.render)

        // only use template once, then just hide/show/val during render
        this.$el.html(this.template(this.model.toJSON()))
        this.$viewCount = this.$('#viewCount')
        this.$editCount = this.$('#editCount')

        this.render()
      },

      render: function () {
        console.log('TheView:render')
        if (this.mode === 'view') {
          this.$editCount.hide()
          this.$viewCount.val(this.model.get('count'))
          this.$viewCount.show()
        }
        else {
          this.$viewCount.hide()
          this.$editCount.val(this.model.get('count'))
          this.$editCount.show()
          this.$editCount.focus()
        }
        return this
      },

      userReset: function (event) {
        console.log('TheView:userReset:event: ');
        console.log(event)
        this.mode = 'view'
        this.model.resetCount()
        return false
      },

      userEditCount: function (event) {
        console.log('TheView:userEditCount:event: ');
        console.log(event)
        this.mode = 'edit'
        this.render()
        return false
      },

      userSetCount: function (event) {
        console.log('TheView:userSetCount:event: ');
        console.log(event)
        if (event.type === 'focusout' || (event.type === 'keypress' && event.which === 13)) { // 13 is <ENTER>
          this.mode = 'view'
          this.model.setCount(Number(this.$editCount.val().trim()))
        }
      },

      userIncrement: function (event) {
        console.log('TheView:userIncrement:event: ');
        console.log(event)
        this.model.incrementCount()
        return false
      },

      logEvent: function (event) {
        console.log('TheView:logEvent:event.target: ' + event.target);
        console.log(this)
        //console.log(event)
        return false
      }

    })

    this.view = new TheView()

    // for debug
    window.b_view = this.view

  })(jQuery)
  </script>
</body>
</html>
