<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>GDSN: Sent Messages</title>
</head>
<body>
<h2>GDSN: Sent Messages</h2>
<div id="container">
  <button id='update'>Update from Server</button>
  <div id='data'></div>
</div>

<script src="js/json2.js"></script>
<script src="js/jquery-1.10.2.js"></script>
<script src="js/underscore-1.5.2.js"></script>
<script src="js/backbone-1.0.0.js"></script>

<script type="text/template" id="message_template">
  <div>InstanceId: <%= id %></div>
  <div>Sender GLN: <%= sender %></div>
  <div>Receiver GLN: <%= receiver %></div>
  <div>MessageType: <%= type %></div>
  <div>Creation DateTime: <%= ts %></div>
  <button class="details">View XML</button>
  <a href="api/1.0/archive/<%= id %>">Download</a>
</script>

<script>
(function ($) {

  var Item = Backbone.Model.extend({
    defaults: {
      id:       '',
      sender:   '',
      receiver: '',
      type:     '',
      ts:       '',
      _id:      '',
    }
  })
  
  var List = Backbone.Collection.extend({
    model: Item,
    url: '/api/1.0/archive'
  })
  
  var ItemView = Backbone.View.extend({
    //tagName: 'div', // create new el
    className: 'item',

    template: _.template($('#message_template').html()),

    events: {
      'click button.details': 'renderDetail'
    },

    initialize: function(param) {
      console.log('ItemView:initialize:param: ' + param.id)
    },

    render: function () {
      this.$el.html(this.template(this.model.toJSON()))
      return this // for chainable calls, like .render().el
    },

    renderDetail: function (e) {
      //alert('render details: ' + this.$el.html())
      console.log(this)
      console.log(this.model)
      console.log(this.model.collection)
      alert('event: ' + e.target)
    }
  })
  
  var ListView = Backbone.View.extend({    
    el: '#container', // use existing

    events: {
      'click button#addButton': 'getUpdateFromServer'
    },

    initialize: function () {
      this.collection = new List()
      this.collection.fetch({reset: true})
      this.render()

      this.listenTo( this.collection, 'add', this.render )
      this.listenTo( this.collection, 'reset', this.render )
    },

    render: function () {
      console.log('ListView:render')

      var data = this.$('#data')
      data.html('') // clear existing contents

      this.collection.forEach(function (item) {
        console.log('ListView:render:forEach:item: ' + item.id)

        var itemView = new ItemView({ model: item })
        data.append( itemView.render().el )
      }, this)
    },

    getUpdateFromServer: function (event) {
      console.log('ListView:getUpdateFromServer:')
      console.log(event)
      this.collection.fetch()
    }

  })

  var listView = new ListView()      

})(jQuery)
</script>
</body>
</html>
