<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Backbone.js Counter</title>
<style type="text/css">
  div {
    border-style: solid;
    border-width: 1px;
    border-color: blue;

    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }  
  input, textarea, select {
    margin-bottom: 6px;
    background-color: #fafafa;
    border: #999 solid 1px;
    font-size: 11px;
    font-family: sans-serif;
    vertical-align: middle;
  }
</style>
</head>
<body>
<h2>Backbone.js Counter</h2>

  <label>App Container:</label>
  <div>

    <label>Widget Container:</label>
    <div id="container"/>

  </div>

<script src="js/json2.js"></script>
<script src="js/jquery-1.9.1.js"></script>
<script src="js/underscore-1.5.1.js"></script>
<script src="js/backbone-1.0.0.js"></script>
<script type="text/template" id="view_template">
    <legend>Counter Widget</legend>
    <input id="viewCount" width="5" type="button" value="<%= count %>"></input>
    <input id="editCount" size="5" value="<%= count %>"></input>
    <p/>
    <input id="increment" type="button" value="Increment"></input>
    <input id="reset" type="button" value="Reset"></input>
</script>

<script>
(function ($) {

  console.log('Backbone HelloWorld this: ' + this)

  var TheModel = Backbone.Model.extend({
    defaults: {
      count: 0
    },
    incrementCount: function () {
      console.log('TheModel:incrementCount')
      var count = this.get('count') + 1
      this.set( { count: count } )
    },
    resetCount: function () {
      console.log('TheModel:resetCount')
      this.set( { count: 0 } )
    }
  })
  
  var TheView = Backbone.View.extend({    
    el: '#container', // use existing div#container

    template: _.template(this.$('#view_template').html()),

    events: {
      'click    #reset'        : 'userReset', 
      'click    #viewCount'    : 'userEditCount', 
      'focusout #editCount'    : 'userSetCount',
      'click    #increment'    : 'userIncrement'           // applies to entire el
    },

    initialize: function () {
      console.log('TheView:initialize');
      this.model = new TheModel()
      this.listenTo(this.model, 'change:count', this.render)
      //this.listenTo(this.model, 'all', this.render)
      this.render()
    },

    render: function () {
      console.log('TheView:render')
      this.$el.html(this.template(this.model.toJSON()))
      this.$viewCount = this.$('#viewCount')
      this.$editCount = this.$('#editCount')

      this.$viewCount.show()
      this.$editCount.hide()
      return this // for chainable calls, like .render().el
    },

    userReset: function (event) {
      console.log('TheView:userReset:event: ');
      console.log(event)
      this.model.resetCount()
      return false
    },

    userEditCount: function (event) {
      console.log('TheView:userEditCount:event: ');
      console.log(event)
      this.$viewCount.hide()
      this.$editCount.show()
      this.$editCount.focus()
      return false
    },

    userSetCount: function (event) {
      console.log('TheView:userSetCount:event: ');
      console.log(event)
      //if (event.which !== 13) return true

      var newCount = Number(this.$editCount.val().trim())

      if (this.model.count !== newCount && _.isNumber(newCount) && !_.isNaN(newCount)) {
        this.model.set({count: newCount})
      }
      return false
    },

    userIncrement: function (event) {
      console.log('TheView:userIncrement:event: ');
      console.log(event)
      this.model.incrementCount()
      return false
    }

  })

  this.view = new TheView()

})(jQuery)
</script>
</body>
</html>
