<!DOCTYPE HTML>
<html>
<head>
  <title>JSONP Demo</title>
  <style type="text/css">
    div { 
      margin: 9px 9px 9px 9px;
      padding: 4px 4px 4px 4px;
      border: #333 solid 1px; 
    }
    .clickable { 
      cursor: pointer; 
      border: #ccc dotted 1px; 
    }
    .selected {
      border: #ccf dashed 1px; 
    }
  </style>
</head>
<body>
<div>

  <h2>Subscription JSONP Demo</h2>

  <div>
    <div>Subscriber: <span id="subscriber">n/a</span></div>
    <div>Selected subscription details:</div>
    <textarea rows="6" cols="60" disabled id="selectedItem"></textarea>
    <div id="subscriptionList"></div>
    <div>Data timestamp: <span id="timestamp">n/a</span></div>
  </div>
</div>

<script src="./js/underscore-1.5.1.js"></script>
<script src="./js/jquery-1.9.1.js"></script>
<script>
  function processData(data) {
    $('#subscriber').text(data.subscriber)
    $('#timestamp').text(data.timestamp)
    var list = $('#subscriptionList')
    var template = _.template('<div class="clickable"><%= i + 1 %>. Publisher: <%= e.dsName %> (<%= e.ds %>)</div>')
    _.each(data.subscriptions, function (e, i) {
      //$('<div>').text((i + 1) + '. ' + e.dsName).appendTo(list)
      var newSpan = template({ e: e, i: i })
      $(newSpan).appendTo(list)
    })

    $('#subscriptionList').on('click', function (e) {
        $('#selectedItem').text($(e.target).text())
    })
  }
</script>
<script src="http://plt-gdsn01.itradenetwork.com:8080/gdsn-server/api/getSubscriptionList?callback=processData&subscriber=1100001011292"></script>
</body>
</html>
