module.exports = {
    client_name  : "ITN Branded Procurement"
  , recipients   : ['1100001011292', '0074865000000']
  , urls         : ['/cs_api/1.0/items/subscribed', '/cs_api/1.0/profile']
  , xml_mappings: {
      gtin        : "/tradeItem/tradeItemIdentification/gtin"
    , provider    : "/tradeItem/tradeItemInformation/informationProviderOfTradeItem/informationProvider/gln"
    , tm          : "/tradeItem/tradeItemInformation/targetMarketInformation/targetMarketCountryCode/countryISOCode"
    , unit_type   : "/tradeItem/tradeItemUnitDescriptor"
    , gpc         : "/tradeItem/tradeItemInformation/classificationCategoryCode/classificationCategoryCode"
    , brand       : "/tradeItem/tradeItemInformation/tradeItemDescriptionInformation/brandName"
    , tm_sub      : "/tradeItem/tradeItemInformation/targetMarketInformation/targetMarketSubdivisionCode/countrySubDivisionISOCode"
    , child_count : "/tradeItem/nextLowerLevelTradeItemInformation/quantityOfChildren"
    , child_gtins : "/tradeItem/nextLowerLevelTradeItemInformation/childTradeItem/tradeItemIdentification/gtin"
    , fn_name_en  : "/tradeItem/tradeItemInformation/tradeItemDescriptionInformation/functionalName/description[language/languageISOCode='en']/shortText"
    , width_value : "/tradeItem/tradeItemInformation/tradingPartnerNeutralTradeItemInformation/tradeItemMeasurements/width/measurementValue/value"
    , width_uom   : "/tradeItem/tradeItemInformation/tradingPartnerNeutralTradeItemInformation/tradeItemMeasurements/width/measurementValue/@unitOfMeasure"
    , allergy_crustacean : "/tradeItem/extension/foodAndBeverageTradeItemExtension/foodAndBeverageInformation/foodAndBeverageAllergyRelatedInformation/foodAndBeverageAllergen[allergenTypeCode='AC']/levelOfContainment"
    , infoods_ener_dvi   : "/tradeItem/extension/foodAndBeverageTradeItemExtension/foodAndBeverageInformation/foodAndBeverageNutrientInformation/foodAndBeverageNutrient[nutrientTypeCode[@iNFOODSCodeValue='ENER']]/percentageOfDailyValueIntake"
  }
}
